@import "../../../public/sass/colorpullet";
.select-city {
  width: 100%;
  background-color: #fff;
  border-radius: 4px;
  padding: 0 2rem 2rem 2rem;
  direction: rtl;
  transition: all 0.5s;
  position: relative;

  &__footer{
    position:absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    border-top: 1px solid #eee;
    background-color: $background;
  }

  &__input {
    position: relative;

    input {
      width: 100%;
      align-items: center;
      background-color: transparent;
      border: 1px solid rgba(0, 0, 0, 0.16);
      border-radius: 4px;
      cursor: pointer;
      display: flex;
      height: 2.5rem;
      outline: none;
      text-align: right;
      transition: border-color 0.36s ease;
      padding: 0 1rem 0 2.5rem;
      color: $color-description;
      font-size: 12px;
    }

    &:focus {
      border: 1px solid $active-hover;
    }
  }

  &__provinces {
    width: 100%;
    height: 250px;
    overflow-y: scroll;
    scrollbar-width: none;
    margin-top: 1rem;
  }

  &__province {
    width: 100%;
    border-bottom: 1px solid #eee;
    position: relative;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__arrow {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s;

    &::after {
      content: "";
      width: 0.3rem;
      height: 0.3rem;
      border-left: 2px solid rgba(0, 0, 0, 0.4);
      border-bottom: 2px solid rgba(0, 0, 0, 0.4);
      transform: rotate(45deg);
    }
  }

  &__cities {
    max-height: 270px;
    transition: all 0.5s;
    overflow-y: scroll;
    scrollbar-width: none;
    direction: rtl;
  }

  &__parent {
    margin: 1rem;
  }

  &__city {
    margin: 0.5rem 0;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__title {
    color: rgba(0, 0, 0, 0.87);
    font-size: 1.125rem;    
  }

  &__delete {
    color: $active-hover;
    cursor: pointer;
  }

  &__balance {
    padding: 1rem 0;
    border-bottom: 1px solid #eee;

  }

  input[type="checkbox"] {
    width: 1.2rem;
    border: none;
    outline: none;
  }

  &__item {
    padding: 0.5rem 0;
    cursor: pointer;
    transition: all 0.2s;
    user-select: none;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;

    &:hover {
      color: rgba(0, 0, 0, 0.8);
    }
  }

  &__btn-select {
    border: 1px solid $active-hover;
    background-color: rgb(255, 241, 241);
    font-size: .75rem;
    color: $active-hover;
    border-radius: 20px;
    padding: .25rem .5rem;
    margin-left: 1rem;
    display: inline;
    white-space: nowrap;
    user-select: none;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__parent-select{
    height: 3rem;
    display: flex;
    justify-content: flex-start;
    align-content: center;
  }

}

