@import "../../../../public/sass/colorpullet";

.wrapper-slide {
  width: 100%;
  height: 100%;
  border-radius: 4px;
  user-select: none;
  position: relative;

  &__dots{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2rem;
    display: flex;
    flex-direction: row-reverse;
    justify-content :center;
    align-items: center;
    z-index: 2000;


  }

  &__dot{
    width: 7px;
    height: 7px;
    background-color: #b7a9a9;
    border-radius: 50%;
    margin: 0 8px;
  }

  &__dot-bold{
    @extend .wrapper-slide__dot;
    background-color: #fff;
    transition: all .2s;
    width: .5rem;
    height: .5rem;

  }

  &__right-btn{
    height: 100%;
    width: 2rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: absolute;
    right: -1.5rem;
    top: 0;
    background-color: transparent;
    cursor: pointer;
    transition: all 0.5s;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;

    @media (max-width : 425px){
      display: none;
    }
  

  }

  &__right-btn-sharp{
    @extend .wrapper-slide__right-btn;
    right: -2rem;

    &:hover {
      background-color: rgba(0, 0, 0, 0.3);
      .arrow-next {
        border-left-color: #fff;
      }
    }
  }

  &__left-btn {
    height: 100%;
    width: 2rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position:absolute;
    left: -1.5rem;
    top: 0;
    background-color: transparent;
    cursor: pointer;
    transition: all 0.5s;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;

    @media (max-width : 425px){
      display: none;
    }
  

  }

  &__left-btn-sharp{
    @extend  .wrapper-slide__left-btn;
    left: -2rem;

    &:hover {
      background-color: rgba(0, 0, 0, 0.3);

      .arrow-prev {
        border-right-color: #fff;
      }
    }
  }


  .slide {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: nowrap;
    flex: 1 1 auto;
    overflow-x: scroll;
    overflow-y: hidden;
    scrollbar-color: transparent;
    scrollbar-width:none;
    scroll-behavior: smooth;
    transition: all .2s;


    &__border-radius{
      border-radius: 4px;
    }

    &__item {
      min-width: 100%;
      min-height: 100%;

      img {
        object-fit: cover;
        object-position: center;
        width: 100%;
        height: 100%;
      }
    }

  }
}

.cards {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  width: 100%;
  padding: 2rem 0;

  @media (max-width : 425px){
    display: none;
  }


  &__card {
    max-height: 100px;
    width: calc(25% - 0.5rem);
    border-radius: 4px;
    padding: 0;
    cursor: pointer;
    transition: all 0.1s;
    margin: 0 0.5rem 0.5rem 0;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      border-radius: 4px;
    }
  }
  &__select {
    outline: 1px solid $active-hover;
    box-shadow: 0 0 10px $active-hover;
    border-radius: 4px;
  }
}

.arrow-next {
  width: 0;
  height: 0;
  border: 12px solid transparent;
  border-left-width: 12px;
  border-left-color: $color-description;
  transition: all 0.5s;
}
.arrow-prev {
  width: 0;
  height: 0;
  border: 12px solid transparent;
  border-right-width: 12px;
  border-right-color: $color-description;
  transition: all 0.5s;
}

.disply-none {
    width: 0;
    height: 0;
}

.arrow-right{
  width: 14px;
  height: 14px;
  background-color: transparent;
  border-top: 4px solid $color-description;
  border-right: 4px solid $color-description;
  border-radius: 4px;
  transform: rotate(45deg);
}

.arrow-left{
  @extend .arrow-right;
  transform: rotate(-135deg);
}