@import '../../../public/sass/colorpullet';

.box{
    border-radius: 4px;
    background-color: $footer;
    direction: rtl;
    padding: 1rem;
    color : #fff;

    &__btns{
        display: flex;
        justify-content: space-between;
    }
}