@import "../../../public/sass/colorpullet";

.parent-spinner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  min-width: 100vw;
  overflow: hidden;
  z-index: 3000;
  position: fixed;
  top : 0;
  left: 0;

  &__title{
    color : $active;
    font-size : 14px;
  }


  &__spinner {
    width: 30px;
    height: 30px;
    border: {
      left: 6px solid $spinner-border;
      right: 6px solid $spinner-border;
      top: 6px solid $spinner-border;
      bottom: 6px solid $spinner;
    }
    border-radius: 50%;
    animation-name: a;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }
}

@keyframes a {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
