@import "../../../public/sass/colorpullet.scss";

.main {
  display: flex;
  flex-direction: row-reverse;
  text-align: right;
  min-height: 100vh;
  background-color: $background;

  &__sidebar {
    max-height: 100vh;
    flex: 0 0 17%;
    position: sticky;
    top: 0;
    overflow-y: scroll;
    scrollbar-width: none;
    display: none;
    direction: rtl;
    font-size: .9rem;
    white-space: nowrap;


    @media (min-width: 769px) {
        display: flex;
    }
    @media (max-width: 1024px) {
      flex: 0 0 25%;
    }
}

  &__parent-items{
    display: flex;
    flex: 1 1 85%;
    flex-direction: column;
    position: relative;
  }

  &__header-items{
    width: 100%;
    padding: 3rem;
    position: sticky;
    top:0;
    right: 0;
  }

  &__items {
    display: flex;
    flex: 1 1 auto;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin : -.46rem;
    max-height: 600px;
    overflow-y: scroll;
    scrollbar-width: none;
    padding-bottom: 3rem;
  }

  &__small-title{
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: .7rem;
    color : $color-description;
    padding-bottom: 1rem;
    white-space: nowrap;
  }

  &__item {
    width: calc(33.333% - 2rem);
    margin: 1rem;

    &--ratio {
      padding-top: 100%;
      position: relative;
    }
  }
}

html,body {
    behavior: "smooth";
    min-height: 100vh;
}


