@import "../../../public/sass/colorpullet.scss";

.infinite {
  display: flex;
  flex-direction: row-reverse;
  text-align: right;


  &__items {
    flex: 1 1 auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
  }

  &__item {
    width: calc(33.333% - 2rem);
    margin: 1rem;

    &--ratio {
      padding-top: 100%;
      position: relative;
    }
  }
}

html,body {
    behavior: "smooth";
    min-height: 100vh;
}


