@import "../../../public/sass/colorpullet.scss";

.main {
  display: flex;
  flex-direction: row-reverse;
  text-align: right;
  border: 2px solid blue;

  //   &__items {
  //     flex: 1 1 auto;
  //     display: flex;
  //     flex-wrap: wrap;
  //     flex-direction: row-reverse;
  //   }

  //   &__item {
  //     width: calc(33.333% - 2rem);
  //     margin: 1rem;

  //     &--ratio {
  //       padding-top: 100%;
  //       position: relative;
  //     }
  //   }
}

.sidebar {
  min-height: 100vh;
  background-color: $sidebar;
  flex: 0 0 25%;
  position: sticky;
  top: 0;
  overflow-y: auto;
  display: none;
  padding-top: 2rem;
  border: 5px solid orange;

  @media (min-width: 768px) {
    display: block;
  }
}

html,
body {
  behavior: "smooth";
  min-height: 100vh;
}
