.container-product {
  display: flex;
  flex-direction: row-reverse;
  padding: 3rem 6rem;

  @media (max-width: 426px) {
    flex-direction: column-reverse;
  }

  &__slider {
    width: 488px;
    height: 366px;
    padding-top: 1rem;
    @media (max-width: 426px) {
      padding: 0;
      width: 100%;
      border: 0;
    }
  }
}
