@import "../../../public/sass/colorpullet";

.container-product {
  display: flex;
  flex-direction: row-reverse;
  padding: 3rem 6rem;

  @media (max-width: 426px) {
    flex-direction: column-reverse;
  }

  &__slider {
    width: 488px;
    height: 366px;
    padding-top: 1rem;
    @media (max-width: 426px) {
      padding: 0;
      width: 100%;
      border: 0;
    }

    // textarea:focus {
    //   outline: none !important;
    //   border:1px solid $active;
    //   box-shadow: 0 0 1px $active-hover;
    // }

    textarea {
      width: 100%;
      min-height: 7.5rem;
      direction: rtl;
      resize: none;
      padding: 1rem;
      border: 1px solid rgba(0, 0, 0, 0.2);
      border-radius: 4px;
      transition: all 0.5s;

      &:hover {
        border: 1px solid rgba(0, 0, 0, 0.8);
      }

      &:focus{
        outline: none !important;
        border:1px solid $active;
        box-shadow: 0 0 6px $active-hover;
  
      }

    }
  }
}


.zoom {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2001;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: none;
  padding: 2rem;

  &__image {
    width: 70%;
    height: 100%;
    background-color: $search;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  &__btn-close {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 50px;
    right: 50px;
    transform: rotate(45deg);
    cursor: pointer;

    &::before {
      content: "";
      width: 4px;
      height: 100%;
      background-color: #fff;
      position: absolute;
      top: 0;
      left: 40%;
      border-radius: 2px;
    }

    &::after {
      content: "";
      height: 4px;
      width: 100%;
      background-color: #fff;
      position: absolute;
      top: 40%;
      left: 0;
      border-radius: 2px;
    }
  }
  &__title {
    position: absolute;
    top: 100px;
    right: 50px;
    color: #fff;
    user-select: none;

    @media (max-width: 768px) {
      display: none;
    }
  }
}
