@import '../../../public/sass/colorpullet';
.info {
  display: flex;
  flex-direction: column;
  direction: rtl;
  flex: 1 1 auto;
  min-height: 400px;


  @media (max-width : 426px) {
    padding: 1rem;
  }

  &__small-title {
    color: $color-description;
    font-weight: 400;
    font-size: 14px;
    line-height: 2;
  }

  &__buttons{
    display: flex;
  }
  &__hr{
    width: 80%;
    border-bottom: 1px solid #999;
  }
}

.height-space{
  margin: .5rem 0;
}