@import "../../Global/sass/global-box.scss";
.sidebar {
  text-align: right;
  direction: rtl;
  background-color: $background;
  scrollbar-color: transparent;
  position: relative;


  &__active{
      color : rgba(0,0,0,.8) !important;
  }
  ul {
    padding: 0;
  }


  &__title {
    font-size: 1.25rem;
    color: rgba(0, 0, 0, 0.56);  
  }

  &__parent-cat{
    display: flex;
    align-items: center;
    border-radius: 4px;

    &:hover{
      background-color: #eee;
    }

  }

  &__cat {
    text-decoration: none;
    display: block;
    font-size: .9rem;
    color: rgba(0, 0, 0, 0.56);  
    transition: all .2s;


  }

  ul {
    li {
      font-weight: 400;
      list-style: none;
      line-height: 2;
      padding: 6px 0;
      cursor: pointer;
      transition: color 0.36s ease;
      color: rgba(0, 0, 0, 0.56);  

    }
  }
}
// nav a.active {
//   color : rgba(0,0,0,.8)

// }
