@import "../../../public/sass/colorpullet";

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $background;

  &__box {
    width: 100%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    direction: rtl;
    margin: 2rem 0;

    @media (min-width: 768px) {
      width: 50%;
    }
  }


  &__btns {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    margin-top: 1rem;
  }

  &__select {
    width: 100%;
    height: 40px;
    border-radius: 4px;
    outline: none;
    border: none;
    padding: 0 1rem;
    border: 1px solid $border;
    font-size: $font-size-description;
    color : $color-description;
    transition: all .3s;

  }

  &__input{
    @extend .page__select;

    &:focus{
      border: 1px solid $active-hover;
    }

  }

  &__ltr{
    direction: ltr;
  }

  &__textarea{
    @extend .page__input;
    height: 100px;
    scrollbar-width: thin;
    resize: none;
}


  &__title {
    font-size: 1.25rem;
    line-height: 2;
    color : $title;
  }

  &__help-title{
    font-size: 1rem;
    line-height: 2;
    color : $title;
  }

  &__description{
    font-size: $font-size-description;
    font-weight: 400;
    line-height: 2;
    color : $color-description;
  }
  &__small-description{
    font-size: 0.6rem;
    color: rgba(0, 0, 0, 0.4);
    width: 100%;
    text-align: right;
  }

  &__container-avatar {
    display: flex;
    justify-content: space-between;
  }
  &__type-user {
    display: flex;
    flex-direction: column;
    font-style: italic;
    font-weight: bold;
    color: #999;
    display: flex;
    justify-content: center;
    position: relative;
  }

  &__container-select {
    display: block;
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    select {
      font-size: 12px;
      font-weight: 400;
      line-height: 2;
      color : $placeholder;
      
   }


  }



  &__container-radio {
    display: block;
    position: relative;
    padding: 0 1.5rem;
    padding: 0 2rem;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    font-size: 12px;
    font-weight: 400;
    line-height: 2;
    color : $color-description;

  }

  /* Hide the browser's default checkbox */
  &__container-radio input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  /* Create a custom checkbox */
  &__checkmark {
    position: absolute;
    top: 5px;
    right: 0;
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    background-color: #eee;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /* On mouse-over, add a grey background color */
  &__container-radio:hover input ~ &__checkmark {
    background-color: #ccc;
  }

  /* When the checkbox is checked, add a blue background */
  &__container1 input:checked ~ &__checkmark {
    background-color: #eee;
  }

  /* Create the checkmark/indicator (hidden when not checked) */
  &__checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }

  /* Show the checkmark when checked */
  &__container-radio input:checked ~ &__checkmark:after {
    display: block;
  }

  /* Style the checkmark/indicator */
  &__checkmark:after {
    width: 0.5rem;
    height: 0.5rem;
    background-color: #999;
    border-radius: 50%;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  &__err {
    color: red;
    font-size: 14px;
    font-weight: 100;
    margin: 0;
  }
}

::placeholder {
  font-size: 12px;
  font-weight: 400;
  line-height: 2;
  color : $placeholder;

}

option {
  scrollbar-width: thin;
 }

 select{
  scrollbar-width: thin;

 }
 *{
  scrollbar-width: thin;

 }