@import "../../../public/sass/colorpullet";
.mydelete{
    width: 20px;
    height: 20px;
    position: relative;
    transform: rotate(45deg);
    cursor: pointer;

    &::before{
        content: "";
        position: absolute;
        top: 0;
        left: 39%;
        height: 100%;
        width: 2px;
        background-color: $active-hover;
        border-radius: 2px;

    }

    &::after{
        content: "";
        position: absolute;
        top : 39%;
        left: 0;
        height: 2px;
        width: 100%;
        background-color: $active-hover;
        border-radius: 2px;
    }
}