@import "../public/sass/colorpullet.scss";

.app {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  color: $text;
  background: $background;
}

.wrapper {
  margin: 0 2rem;

  @media (max-width : 770px) {
    margin: 0;

  }
}

.scale {
  display: flex;
  justify-content: space-between;
}

.center-element{
  display: flex;
  justify-content: center;
  align-items: center;
}

.mybtn {
  height: 40px;
  padding: 0.5rem 1rem; 
  border-radius: 4px;
  text-align: center;
  border: none;
  font-size: .9rem;
  cursor: pointer;
  text-decoration: none;
  color: $color-btn;
  transition: all .2s;

  &__sucsess {
    background-color: #9999;
  }
  &__delete {
    background-color: $delete;
  }
  &__denger {
    background-color: #9999;
  }
  &__logo {
    background-color: $background;
    color: $text;
    border-left: 2px solid  $border;

  }
  &__active {
    background-color: $active;
    color: white;
    &:hover{
      background-color: $active-hover;
    }
  }
  &__inactive {
    background-color: white;
    color: rgba(0, 0, 0, 0.56);
    border: 1px solid rgba(0, 0, 0, 0.56);
    &:hover {
      background-color: #eee;
    }
  }

  &__noselect{
    background-color: #eeecec;
    box-shadow: none;
    color: rgba(0, 0, 0, .22);
    cursor: not-allowed;
  }

  &__long{
    flex : 1 1 auto;
    text-align: center;
  }

  &__space{
    margin : 0 .5rem;
  }

}

.input-box {
  border: none;
  outline: none;
  background-color: $background;
  direction: rtl;
  border-radius: 4px;
  width: 25%;
  text-align: center;
}
